<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HELLO WORLD</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/style.css">
        
	</head>
	<body>
		{{{ body }}}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/script.js"></script>
	</body>
</html>